.slideShow-arrow {
-webkit-text-stroke: 1px red;
   color: red;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;}


/* loader progress bar */
.loader {
	background-color:#cc0000!important;
	height:100px;
}
.awesomeTable-viz-slideShow {
  position: relative;
  outline: 0;
}

.awesomeTable-viz-slideShow .slideShow-container {
  overflow: hidden;
}

.awesomeTable-viz-slideShow .slideShow-content-transition>.slideShow-content {
  transition: transform .5s;
}

.awesomeTable-viz-slideShow .slideShow-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: center no-repeat;
  background-size: cover;
}

.awesomeTable-viz-slideShow .slideShow-htmlContent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

.awesomeTable-viz-slideShow .slideShow-title-cont {
  width: 100%;
  font-size: 1.8em;
  overflow: hidden;
}

.awesomeTable-viz-slideShow .slideShow-title {
  white-space: pre-wrap;
  line-height: 2.2em;
  font-size: 1.8em;
  font-weight: 900;
  margin-bottom: .5em;
  -webkit-text-stroke: 1px red;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.awesomeTable-viz-slideShow .slideShow-text {
  font-size: 1.1em;
}

.awesomeTable-viz-slideShow .slideShow-link {
  flex: auto;
}

.awesomeTable-viz-slideShow .slideShow-arrows {
  display: flex;
  justify-content: space-between;
}

.awesomeTable-viz-slideShow .slideShow-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  max-width: 60px;
  overflow: hidden;
  opacity: .8;
  cursor: pointer;
}

.awesomeTable-viz-slideShow .slideShow-arrow:hover {
  opacity: 1;
	background:rgba(231, 76, 60,0.5);
}

.awesomeTable-viz-slideShow.slideShow-normal .slideShow-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.awesomeTable-viz-slideShow.slideShow-normal .slideShow-title-cont {
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
  padding: 1em 2em;
}

@media screen and (max-width:600px) {
  .awesomeTable-viz-slideShow.slideShow-normal .slideShow-content {
    background-color: #eee;
  }

  .awesomeTable-viz-slideShow.slideShow-normal .slideShow-image {
    position: relative;
    flex: auto;
    width: 100%;
  }
}

.awesomeTable-viz-slideShow.slideShow-textonly .slideShow-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.awesomeTable-viz-slideShow.slideShow-textonly .slideShow-title-cont {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  padding: 1em 25px;
}

.awesomeTable-viz-slideShow.slideShow-textonly .slideShow-arrow {
  width: 35px;
}

.helper-fit {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
